---
title: Family Journal
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="site">
  <div class="site__bg">
    {% include header.html %}
    <main class="site__content">
      {% include posts.html %}
    </main>
    <footer>
      Footer
    </footer>
  </div>
</body>
</html>
