@font-face {
    font-family: 'selima';
    src: url('fonts/selima.woff') format('woff2'),
         url('fonts/selima.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'asap';
    src: url('fonts/asap.woff') format('woff2'),
         url('fonts/asap.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
