// Default px value
$base : 16;

// fonts
$body-font : 'asap';
$heading-font : 'selima';

// scales
// http://type-scale.com/
// Perfect Forth
$p : 1rem;
$h1 : 3.157em;
$h2 : 2.369em;
$h3 : 1.777em;
$h4 : 1.333em;
$text-small : 0.75em;
