.body {
  background: $colour-chrome;
  border-left: 10px solid $colour-neutral;
  border-right: 10px solid $colour-neutral;

  &__bg {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  &__content {
    flex: 1;

    & > .container {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
