.heading {
  font-family: $heading-font;

  &--1 {
      font-size: $h1;
      color: $colour-peppermint;
      letter-spacing: -0.25rem;
      margin: 0 0 0.5rem 0;
      font-weight: inherit;
      line-height: 1.2;
  }

  &--2 {
      letter-spacing: -0.2rem;
      font-size: $h2;
  }

  &--3 {
      font-size: $h3;
  }

  &--4 {
      font-size: $h4;
  }
}
