.h1,
.h2,
.h3,
.h4
{
    font-family: $heading-font;
}

.h1
{
    font-size: $h1;
    letter-spacing: -0.25rem;
    margin: 0 0 0.5rem 0;
    font-weight: inherit;
    line-height: 1.2;
}

.h2
{
    letter-spacing: -0.2rem;
    font-size: $h2;
}

.h3
{
    font-size: $h3;
}

.h4
{
    font-size: $h4;
}
